
<div class="modal-header">
    <h3 class="modal-title">Carregue as molduras da campanha</h3>
</div>


<div class="modal-body">
    <button class="btn btn-default" type="button" ng-click="btClickVe()">Selecionar moldura vertical</button>
    <span>: {{mVe}}</span>
    <input type="file" id="ve" onchange="angular.element(this).scope().fileNameChanged(this)"/>
    <br/>
    <br/>
    <button class="btn btn-default" type="button" ng-click="btClickHo()">Selecionar moldura Horizontal</button>
    <span>: {{mHo}}</span>
    <input type="file" id="ho" onchange="angular.element(this).scope().fileNameChanged(this)"/>

    
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
    