
<div ng-hide="imgs" ng-include="'images/preloader.html'"></div>
<!--
<div ng-repeat="i in imgs" ng-init="imgs != null" id="imgCont">
    <div class="button" ng-click="clickBt(i.img)"><img id="imgTmb" src="{{i.thumb}}" alt="Falhou!"></div>
</div>
-->

<div ng-hide="!imgs">
    <div ng-repeat="i in imgs" id="imgCont">
        <div class="button" ng-click="clickBt(i.img)"><img id="imgTmb" src="{{i.thumb}}" alt="Falhou!"></div>
    </div>
    
<!--    <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)"/>-->
    <button ng-click="print()">Print</button>
    <canvas id="canvas">

    </canvas>    
</div>

